.discourse-timeline-edit-button {
  margin-right: 30%;
  margin-bottom: 0.5em;
}

.mobile-timeline-edit-button {
  display: flex;
  height: 100%;
}

.discourse-mobile-timeline-edit-button {
  height: 100%;
}




.discourse-scroll-up-button{
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.discourse-mobile-scroll-up-button{
  height: 100%;
}
